* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

.regiform {
    text-align: center;
    background-color: rgb(0, 0, 0, 0.6);
    margin: auto;
    width: 800px;
    color: white;
    border-radius: 20px;
}

.wrapper {
    background-image: url(../images/backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.registration-form {
    background-color: rgb(0, 0, 0, 0.5);
    width: 800px;
    margin: auto;
    border-radius: 20px;
}

.regi-form {
    padding: 30px 50px;

}

/*helper classes*/
.d-flex {
    display: flex;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-t-20 {
    margin-top: 20px;
}

.name-username {
    justify-content: space-around;
    align-items: center;
}

.just-con-align {
    justify-content: space-between;
    align-items: center;
}

.textfill {
    height: 35px;
    width: 72%;
    border-radius: 5px;
    border: 1px solid grey;
    text-indent: 20px;
    margin-left: 70px;
}

.name1 {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.name {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-left: 50px;
}

.username {
    height: 35px;
    width: 130%;
    border-radius: 5px;
    border: 1px solid grey;
    text-indent: 20px;
}

.radio {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-left: 50px;
}

.btn-submit {
    margin-left: 50px;
    background-color: rgb(4, 231, 220);
    border: 0;
    height: 35px;
    width: 30%;
    border-radius: 20px;
    color: rgb(49, 47, 184);
    font-weight: 700;
}

.form-wapper {
    height: 100%;
    display: flex;
    margin-left: 75px;
}