* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

:root {
    --fn-sm14: 14px;
    --fn-vsm11: 11px;
    --fn-sm12: 12px;
    --fw-600: 600;
    --fw-400: 400;
    --fw-500: 500;
    --blue-500: #2264E6;
    --gray-300: #A1A9B8;
    --gray-700: #464F60;
    --gray-600: #5A6376;
    --red-500: #D12953;
    --indigo-500: #4F5AED;
    --green-500: #14804A;
    --gray-div-tr: rgba(235, 240, 250, 0.75);
    --white: #ffffff;
}

/* helper classes */
.d-flex {
    display: flex;
}

.margin-right-10 {
    margin-right: 10px;
}

/*headers*/

.bold {
    font-weight: bold;
}

.errorOption {
    color: var(--red-500);
    background-color: #e79bae;
    border-radius: 10px;
    padding: 2px 10px;
}

.openOption {
    color: var(--indigo-500);
    background-color: rgb(160, 160, 241);
    border-radius: 10px;
    padding: 2px 10px;
}

.successOption {
    color: var(--green-500);
    background-color: #b9eed4;
    border-radius: 10px;
    padding: 2px 10px;
}

.inactiveOption {
    color: var(--gray-600);
    background-color: rgb(189, 181, 181);
    border-radius: 10px;
    padding: 2px 10px;
}

.btns-header {
    padding: 20px 16px;
    justify-content: space-between;
    align-items: center;
}

/* .card {
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 1px rgba(152, 161, 179, 0.1), 0px 15px 35px -5px rgba(17, 24, 38, 0.2), 0px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    height: 131px;
    width: 120px;
    padding: 20px;
} */

.btn-add-cutomer {
    margin-left: 20px;
    font-size: var(--fn-sm14);
    font-weight: var(--fw-500);
    color: var(--white);
    height: 32px;
    width: 146px;
    background-color: var(--blue-500);
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

li {
    text-decoration: none;
    list-style: none;
    margin-bottom: 10px;
}

.btn-status {
    font-size: var(--fn-sm14);
    font-weight: var(--fw-500);
    color: var(--blue-500);
    width: 109px;
    height: 32px;
    background-color: var(--white);
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* form classes */
.main-content {
    padding-top: 7px;
}

.inputflied {
    flex-direction: column;
    flex: 1;
}

.inputtxt {
    height: 32px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid var(--gray-300);
    text-indent: 20px;
    padding: 6px 12px;
}

.m-right0 {
    margin-right: 0;
}

.inputtxt::placeholder {
    color: var(--gray-300);
    font-size: var(--fn-sm14);
    font-weight: var(--fw-400);
}

.fieldname {
    font-size: var(--fn-vsm11);
    font-weight: var(--fw-600);
    color: var(--gray-700);
    margin-bottom: 10px;
}

.main-form {
    padding: 13px 20px;
}

.from-input-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-btns {
    padding: 12px 20px;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--gray-div-tr);
}

#btnSave {
    margin-left: 20px;
    font-size: var(--fn-sm14);
    font-weight: var(--fw-500);
    color: var(--white);
    padding: 5px 10px;
    background-color: var(--blue-500);
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.btn-delete {
    margin-right: 20px;
    font-size: var(--fn-sm14);
    font-weight: var(--fw-500);
    color: var(--red-500);
    padding: 5px 10px;
    background-color: #e79bae;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.btn-Edit {
    margin-right: 20px;
    font-size: var(--fn-sm14);
    font-weight: var(--fw-500);
    color: var(--green-500);
    padding: 5px 10px;
    background-color: #b9eed4;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#btnUpdate {
    margin-left: 20px;
    font-size: var(--fn-sm14);
    font-weight: var(--fw-500);
    color: var(--white);
    padding: 5px 10px;
    background-color: var(--blue-500);
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.btn-cancel {
    background-color: #666666;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: var(--fn-sm14);
    font-weight: var(--fw-500);
    color: var(--white);
    border: 1px solid #ccc;
    cursor: pointer;
}

#selectOption {
    flex: 1;
    flex-direction: column;
    display: flex;
    padding: 6px 12px;
    background-color: var(--white);
    border: 1px solid var(--gray-300);
    color: var(--gray-300);
    border-radius: 6px;

}

/* table classes */
.table {
    padding: 19px 45px;
    width: 100%;
    border-collapse: collapse;
}

.tabledata {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: var(--fn-sm14);
    font-weight: var(--fw-400);
    color: (var(--gray-700));
}

.tablerow {
    text-align: left;
}

td {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: var(--fn-sm14);
    font-weight: var(--fw-400);
    color: (var(--gray-700));
}

.tablerow:nth-child(even) {
    background-color: var(--gray-div-tr);
}

.text-dangure {
    color: red;
}

@media screen and (max-width : 500px) {
    table>thead>tr>th {
        display: none;
    }

    table>tbody>tr>td {
        display: block;
        width: 100%;
        text-align: right;
    }

    table>tbody>tr>td::before {
        display: block;
        width: 100%;
        content: arrt();
        text-align: right;
    }

}

@media screen and (max-width : 660px) {

    .from-input-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0, 0.5);
    }

    .fieldname {
        color: var(--white);
    }
}

@media screen and (max-width : 756px) {
    .btn-Edit {
        margin-top: 15px;
    }
}