:root{
    --purple :rgb(95, 95, 223);
    --light-blue :rgb(63, 104, 241);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
html,body{
    height: 100%;
    width: 100%;
}
.heading{
    color: var(--light-blue);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    font-size: 20px;
    font-weight: 500;
    color: var(--purple);
    font-weight : 700; 
    margin-left: 15px;
}
.btn-save{
    height: 45px;
    width: 115px;
    background-color: var(--purple);
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
#btn-update{
    height: 45px;
    width: 115px;
    background-color: var(--purple);
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
#fname{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    text-indent: 15px;
    border-color: #a59f9f;
    margin-left: 15px;
}
#techname{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    text-indent: 15px;
    border-color: #a59f9f;
    margin-left: 15px;
}
#form{
    padding: 20px;
   
}
table{
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
    border-spacing: 0;
}
table > thead > tr > th {
    padding: 15px;
    background-color: teal;
    color: #f8f8fa;
    text-align: justify;
}
table > tbody > tr > td {
    padding: 15px;
    border-bottom: 1px solid grey;
    text-align: justify;
}
/* td{
   border-top: 1px solid white;
   text-align: center;
   padding-top: 10px;
   font-size: 15px;
   font-weight: 500;
}
thead{
    background-color: var(--light-blue); 
    color: white;
    height: 30px;
} */
button{
    height: 40px;
    width: 80px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    border: 0.5px solid rgb(63, 104, 241);
}
.Edit{
    background-color: rgb(130, 231, 130);
    color: green;
    font-size: 15px;
    font-weight: 700;

}
.btn-delete{
    background-color: rgb(230, 79, 52);
    color: white;
    font-size: 15px;
    font-weight: 700;
}
tr:nth-child(even){background-color: #d4cece;}

tr:hover {color: rgb(30, 27, 216);}

@media screen and (max-width : 600px){
    table > thead > tr > th{
        display: none;
    }
    table > tbody > tr > td {
        display: block;
        width: 100%;
        text-align: right;
    }
    table > tbody > tr > td::before {
        display: block;
        width: 100%;
        content: arrt();
        text-align: right;
    }

}
@media screen and (max-width : 756px){
    .Edit{
        margin-top: 15px;
    }
}